@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "EB Garamond", serif;
  background-color: #fafafa;
}

h1 {
  font-size: 3rem;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 5px;
}
